 html, body {
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;

      }

#map {
    height: 100vh;
}

.gm-style-cc, .gmnoprint.gm-style-cc  {
    display: none
}

body #map div .gm-style div a div img {
  display: none;
}


#info {
  position: absolute;
  z-index: 1;
  color: lime;
  font-family: Hack;
  left: 20px;
  font-size: 13px;
}

.logo{
  position: absolute;
  z-index: 1;
  bottom: 12px;
  left: 15px;
  width: 250px;
  color: white;
  font-size: 16px;
  font-family: Apercu-Mono;
  padding: 0px;
  margin: 0px;

}






.stations, .stations svg {
  position: absolute;
  z-index: 1001
}



.stations svg {
  width: 60px;
  height: 30px;
  /*padding-right: 100px;*/
  font: 10px sans-serif;
}

.stations circle {
  fill: lime;
  /*z-index: 1000;*/
  /*stroke: black;
  stroke-width: 1.5px;*/
}

.marker2 {
    fill: white;
}
