 html, body {
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
      }

#map {
    height: 100vh;
}

/*.gm-style-cc, .gmnoprint.gm-style-cc  {
    display: none
}

*{
    transition: all 0.4s
}*/



.stations, .stations svg {
  position: absolute;
  z-index: 1001
}



.stations svg {
  width: 60px;
  height: 30px;
  /*padding-right: 100px;*/
  font: 10px sans-serif;
}

.stations circle {
  fill: lime;
  /*z-index: 1000;*/
  /*stroke: black;
  stroke-width: 1.5px;*/
}

.marker2 {
    fill: white;
}
