 html, body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }

  @font-face {
  font-family: 'Apercu-Mono';
  src: url('./fonts/apercu-mono-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  }

#map {
  height: 100vh;
}

.gm-style-cc, .gmnoprint.gm-style-cc  {
  display: none
}

body #map div .gm-style div a div img {
  display: none;
}


#info {
  position: absolute;
  z-index: 1;
  color: lime;
  font-family: Hack;
  left: 11px;
  bottom: 12px;
  font-size: 12px;
}

.logo{
  position: absolute;
  z-index: 1;
  top: 11px;
  left: 18px;
  width: 250px;
  color: white;
  font-size: 16px;
  font-family: Apercu-Mono;
  padding: 0px;
  margin: 0px;

}

#numOfNodes {
  display: inline;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -7px;
}

#info img {
  width: 25px;
}





.stations, .stations svg {
  position: absolute;
  z-index: 1001
}



.stations svg {
  width: 60px;
  height: 30px;
  /*padding-right: 100px;*/
  font: 10px sans-serif;
}

.stations circle {
  fill: lime;
  /*z-index: 1000;*/
  /*stroke: black;
  stroke-width: 1.5px;*/
}

.marker2 {
  fill: white;
}
